:root {
  --fundo: #000000;
  --fundo-card: #1e1e2f;
  --fundo-card-hover: #2a2a40;
  --texto-principal: #ffffff;
  --texto-secundario: #a1a1b5;
  --destaque: #ffffff;
  --rosa: #F85B72;
}

* {
  transition: all 0.3s ease;
}

#video-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2; 
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  z-index: -1; 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  color: var(--texto-principal);
  padding: 20px;
  position: relative;
}

/* --- TÍTULO --- */
.titulo {
  font-size: 3rem;
  font-weight: 600;
  color: var(--destaque);
  margin-bottom: 30px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.teclado-container {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); 
  margin-bottom: 40px;
  width: 100%;
  max-width: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.teclado {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  width: 100%;
  max-width: 800px;
}

.tecla {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.tecla img {
  width: 100px;
  height: 100px;
}

.tecla:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-6px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.tecla:active {
  transform: scale(0.95);
  background: var(--rosa);
}

.rodape {
  margin-top: 40px;
  text-align: center;
  color: var(--texto-secundario);
  font-size: 0.9rem;
  z-index: 1;
  position: relative;
}

.tiago {
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 12px;
  width: 160px;
  height: auto;
}

.by {
  color: var(--texto-secundario);
}
